/build
/dist
/OUTBOUND
Data/*
WS/*
!WS/SBO-WS.py
!WS/keyframes.txt
Bot/*
!Bot/SBO-Bot.py
!Bot/commandConfig.ini
!Bot/customCommands.txt
todo.txt
SBO.ico
SBO.xcf
SBO.spec
SBO.exe
*.zip
colorStringsTemp.json