/build
/dist
/OUTBOUND
/NOTINCLUDE
Data/*
WS/*
!WS/SBO-WS.py
Bot/*
!Bot/SBO-Bot.py
!Bot/botChatWindow.py
!Bot/commandConfig.ini
!Bot/customCommands.txt
Web/indexTemp.html
todo.txt
*.exe
*.spec
*.zip
iconXcf
*build
*dist
*.json
compiler.py
installer.py
__pycache__
botcfg.py
SBOver.py
SBO.iss